# Trash
.DS_Store
*.pyc

# Deployer
fabfile.py

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Virtual environment
venv/
env/

# Database and local storage
db/
result/
migrations/
